$default-bg: #fff;
$white: #fff;
$pink-button: #FF008C;
$text-color-light: #727272;
$head-color: #001d38;
$font: "Poppins", sans-serif;
$black: #000;
$case-study-subheading: #0a2640;
$yuz: 100%;
$accordionAnimate: ease 0.6s all;